<h1 class="text-center">Editing User</h1>
<br/>
<%= render 'form', user: @user %>
<br/>
<%= link_to 'Show', @user, class:"btn btn-outline-success" %> |
<%= link_to 'Back', users_path, class:"btn btn-outline-info" %>
<br/>